<h1><%= @dog.name %></h1>
<h3><%= @dog.breed %></h3>
<h3><%= @dog.age %></h3>
<h2>My Employees:</h2>
 <% @dog.employees.each do |employ| %>
<h3><%=      employ.first_name + ' ' + employ.last_name %></h3>

    <%end%>  